.Hero {
  height: 90vh; /* Adjust height as needed */
  position: relative;
}

.Hero-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.Hero-text h1 {
  font-size: 48px;
  margin-bottom: 20px;
}

